name: Purge CDN Cache

on:
  push:
    branches:
      - main

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      - name: Purge Cloudflare cache
        run: |
          curl -X GET https://athen.skies-starred.workers.dev/purge \
            -H "Authorization: ${{ secrets.PURGE_TOKEN }}" \
            -v
      
      - name: Notify Commit
        run: |
          curl -X POST https://athen.skies-starred.workers.dev/ping/commit \
            -H "Content-Type: application/json" \
            -H "Authorization: ${{ secrets.PURGE_TOKEN }}" \
            -d '{
              "repo": "${{ github.repository }}",
              "commit": "${{ github.sha }}"
            }'
